#cennik .container p {
  margin: 5px;
}

.navbar-brand {
    padding-top: 10px;
}

input[type=search] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 5px 5px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin: 20px;
}

input[type=search]:focus {
  width: 250px;
}
.scroll {
  height: 425px;
}

/* BIG parts */
.big .itemCard {
  width: 300px;
  border: 5px solid purple;
  display: grid;
  margin: 10px;
  border-radius: 25px;
}

.big .nameCennik {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 10px 8px 0px 8px;
}

.big .itemDesc {
  font-size: 12px;
  text-align:justify;
  font-weight: lighter;
  padding: 0px 20px 0px 20px;
}

.big .priceCennik {
  font-size: 25px;
  text-align: center;
  /* padding: 10px; */
}

.big .containerItems {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* SMALL parts */
.small .itemCard {
  border: 5px solid purple;
  width: 400px;
  display: grid;
  grid-template-columns: : 300px 100px;
  margin: 10px;
  border-radius: 25px;
}

.small .nameCennik {
  grid-column: 1/2;
  width: 280px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px 5px 20px;
}

.small .priceCennik {
  grid-column: 2/end;
  width: 120px;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  padding-left: 10px;
}

.small .itemDesc {
  display: none;
}

.small .containerItems {
  display: flex;
  /* align-items: baseline; */
  justify-content: space-around;
  flex-wrap: wrap;
}


@media screen and (max-width: 600px)
{
  /* BIG parts */
  .big .itemCard {
    margin: 5px;
  }

  .big .nameCennik {
    font-size: 15px;
    padding: 8px 5px 0px 5px;
  }

  .big .itemDesc {
    font-size: 12px;
    padding: 0px 10px 0px 10px;
  }

  .big .priceCennik {
    font-size: 20px;
  }

  .small .itemCard {
    width: 300px;
  }

  .small .nameCennik {
    width: 220px;
    font-size: 12px;
  }

  .small .priceCennik {
    width: 80px;
    font-size: 15px;
    padding-left: 5px;
  }

  .scroll {
    height: 500px;
  }

}


.circle {
  /* position: absolute;
  top: 150px;  */
  left: calc(50% - 60px);
}

.stroke {
  stroke: purple;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.4s ease-out;
}

svg {
  width: 100px;
  height: 100px;
  fill: white;
  stroke-width: 2px;
}

.itemCard:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
